<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>CDA ML</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  </head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color:  #73c6b6;">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">CDA ML</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  File
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="/open">Open</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                 Analysis
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="/funcion/fun_1">Tendencia de la infección por Covid-19 en un País</a></li>
                  <li><a class="dropdown-item" href="/funcion/fun_5">Predicción de Infectados en un País</a></li>
                  <li><a class="dropdown-item" href="/funcion/fun_16">Indice de Progresión de la pandemia</a></li>
                  <li><a class="dropdown-item" href="/funcion/fun_6">Predicción de mortalidad por COVID en un Departamento</a></li>
                  <li><a class="dropdown-item" href="/funcion/fun_7">Predicción de mortalidad por COVID en un País</a></li>
                  <li><a class="dropdown-item" href="/funcion/fun_15">Análisis del número de muertes por coronavirus en un País</a></li>
                  <li><a class="dropdown-item" href="/funcion/fun_2">Tendencia del número de infectados por día de un País</a></li>
                  <li><a class="dropdown-item" href="/funcion/fun_8">Predicción de casos de un país para un año</a></li>
                  <li><a class="dropdown-item" href="/funcion/fun_3">Tendencia de la vacunación de en un País</a></li>
                  <li><a class="dropdown-item" href="/funcion/fun_12">Ánalisis Comparativo de Vacunación entre 2 paises</a></li>
                  <li><a class="dropdown-item" href="#">Porcentaje de hombres infectados por covid-19 en un País desde el primer caso activo</a></li>
                  <li><a class="dropdown-item" href="/funcion/fun_13">Ánalisis Comparativo entres 2 o más paises o continentes</a></li>
                  <li><a class="dropdown-item" href="#">Muertes promedio por casos confirmados y edad de covid 19 en un País</a></li>
                  <li><a class="dropdown-item" href="/funcion/fun_18">Muertes según regiones de un país - Covid 19</a></li>
                  <li><a class="dropdown-item" href="/funcion/fun_4">Tendencia de casos confirmados de Coronavirus en un departamento de un País</a></li>
                  <li><a class="dropdown-item" href="/funcion/fun_19">Porcentaje de muertes frente al total de casos en un país, región o continente</a></li>
                  <li><a class="dropdown-item" href="/funcion/fun_20">Tasa de comportamiento de casos activos en relación al número de muertes en un continente</a></li>
                  <li><a class="dropdown-item" href="#">Comportamiento y clasificación de personas infectadas por COVID-19 por municipio en un País</a></li>
                  <li><a class="dropdown-item" href="/funcion/fun_10">Predicción de muertes en el último día del primer año de infecciones en un país</a></li>
                  <li><a class="dropdown-item" href="/funcion/fun_21">Tasa de crecimiento de casos de COVID-19 en relación con nuevos casos diarios y tasa de muerte por COVID-19</a></li>
                  <li><a class="dropdown-item" href="/funcion/fun_11">Predicciones de casos y muertes en todo el mundo - Neural Network MLPRegressor</a></li>
                  <li><a class="dropdown-item" href="/funcion/fun_17">Tasa de mortalidad por coronavirus (COVID-19) en un país</a></li>
                  <li><a class="dropdown-item" href="#">Factores de muerte por COVID-19 en un país</a></li>
                  <li><a class="dropdown-item" href="/funcion/fun_14">Comparación entre el número de casos detectados y el número de pruebas de un país</a></li>
                  <li><a class="dropdown-item" href="/funcion/fun_9">Predicción de casos confirmados por día</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="container-md py-4">
        {% block data %}
        {% endblock %}
      </div>
      <div class="container-md py-4">
        {% block content %}
        {% endblock %}
      </div>
      <div class="container-md py-4">
        {% block funcion %}
        {% endblock %}
      </div>
      <!-- IMPORT DE SCRIPTS -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
</html>